@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* #backVideo{
    width: 100%;
    height: 100%;
} */

#backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

@media (min-aspect-ratio: 16/9){
    #backVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 9/16){
    #backVideo{
        width: auto;
        height: 100%;
    }
}


.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


.menu-icon{
    width: 55px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.5);
    padding: 15px;
    cursor: pointer;
}

.sidebar{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(78, 0, 255, 0.75), rgba(7, 0, 60, 0.85));
    padding: 20px 60px;
    color: #fff;
}

.top-links{
    
}

.top-links-arrow{
    position: absolute;
    left: 35px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}

.top-links-audio{
    position: absolute;
    left: 320px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}

.top-links-link{
    position: absolute;
    left: 390px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}

.sidebar-text{
    position: absolute;
    top: 140px;
    left: 35px;
}

.sidebar-text h1{
    font-size: 50px;
}

.sidebar-text h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 7px;
}

.sidebar-text p{
    font-size: 12px;
    margin-top: 15px;
    width: 300px;
}

.sidebar a{
    background-color: #fff;
    position: absolute;
    left: 35px;
    top: 330px;
    text-decoration: none;
    color: rgb(98, 98, 255);
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 500;
}

#btn{
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
    width: 60px;
    cursor: pointer;
    display: block;
}

